body {
  margin: 0px auto;
  background-color: #4f77ff;
}
.container {
  padding: 0;
  margin-top: 33px;
  max-width: 1160px;
}
@media (max-width: 1160px) {
  .container {
    max-width: 830px;
    /* background-color: aqua; */
  }
}
@media (max-width: 853px) {
  .container {
    max-width: 616px;
    /* background-color: chartreuse; */
  }
  @media (max-width: 733px) {
    .container {
      max-width: auto;
      /* background-color: brown; */
    }
  }
}
.contented {
  display: flex;
  justify-content: center;
}
.container .blue {
  margin: 10px 20px;
  width: 150px;
  height: 499px;
  background-color: #1038bf;
}
.container .white {
  margin: 10px 20px;
  width: 50px;
  height: 499px;
  background-color: #ffffff;
}
